<!doctype html>
<html lang="en">
  <head>
    <title>AWS Caching Demos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='icon' href='static/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" href="/static/aws-caching.css" />
  </head>
  <body>
    <section id="tabs" align="left">
      <h1 class="section-title h1">AWS Caching Demos</h1>
      <div style="width: 100%; overflow: hidden;">
        <div class="welcome" style="text-align:left width: 60%; float: left;">
          Welcome
        </div>
        <div style="margin-left: 80%;">
          <textarea id="responseID" readonly rows=7 cols=100 style="border: none">Results will appear here</textarea>
        </div>
      </div>
      <div class="tabs" >
        <div class="tab">
          <input type="radio" id="tab-1" name="tab-group-1" checked>
          <label for="tab-1">RDS/Elasticache</label>
          <div class="content">
            <div style="width: 100%; overflow: hidden;">
              <div class="instructions" style="text-align:left width: 60%; float: left;">
                <p>Accelerating RDS/MySQL lookups with AWS Elasticache</p>
                Use this page to construct queries to run against the schema shown to the right.<br>
                The schema and data are taken from <a href="https://github.com/datacharmer/test_db">https://github.com/datacharmer/test_db</a>
                <br>
                <ul>
                  <li><b>Run Query</b></li>
                  Use this button to execute your SQL query. It uses the <a href="https://docs.aws.amazon.com/AmazonElastiCache/latest/mem-ug/Strategies.html#Strategies.LazyLoading">Lazy Loading technique</a> to check the existance of a result set in Elasticache first before querying the database.
                  If there is no result set, the database is queried and the result set is entered into Elasticache. Construct your query and press the button several times to see the difference.
                  <li><b>Compare</b></li>
                  Use this button to calculate the percentage decrease in application latency.
                  It clears all result sets from Elasticache then executes your SQL query 6 times and calculates the difference in responsiveness.
                <li><b>Flush Cache</b></li>
                 Use this button to clear all result sets from Elasticache.
                </ul>
                Here are a few sample queries you can use and their approx SQL execution times.
                <ul>
                  <li><input type="text" value="show tables" id="q1" readonly> (0.02 seconds)<button onclick="copyClip('q1')">Use</button></li>
                  <li><input type="text" value="select * from employees" id="q2" readonly> (6-10 seconds)<button onclick="copyClip('q2')">Use</button></li>
                  <li><input type="text" value="select * from titles" id="q3" readonly> (8-12 seconds)<button onclick="copyClip('q3')">Use</button></li>
                  <li><input type="text" value="select * from salaries" id="q4" readonly> (45-50 seconds)<button onclick="copyClip('q4')">Use</button></li>
                </ul>
                <br>
                <br>
                <div align="center">
                  <input type="text" id="queryString" value="SHOW TABLES"><br>
                  <button onclick="runRDSQuery()">Run Query</button>
                  <button onclick="runRDSCompare()">Compare</button>
                  <button onclick="flushCache()">Clear Cache</button>
                  </div>
              </div>
              <div style="margin-left: 620px;">
                <img src="static/employees.jpg">
              </div>
            </div>
          </div>
          <div id="image"> </div>
        </div>
        <div class="tab">
          <input type="radio" id="tab-2" name="tab-group-1">
          <label for="tab-2">S3/Elasticache</label>
          <div class="content">
            <div class="instructions" style="text-align:left width: 60%; float: left;">
              <p>Accelerating S3 object lookups with AWS Elasticache</p>
              <ul>
                <li><b>Prepare S3</b></li>
                Use thi button to write dummy data to S3
                <li><b>Run Query</b></li>
                Use this button to downlad a file from either S3 or Elasticache
                <li><b>Clean S3</b></li>
                Use this button to delete dummy files from S3.
                <li><b>Flush Cache</b></li>
                Use this button to clear all result sets from Elasticache.
              </ul>
              <br>
              <br>
              <div align="center">
                <button onclick="runS3Prepare()">Prepare S3</button>
                <button onclick="runS3Query()">Run Query</button>
                <button onclick="runS3Clean()">Clean S3</button>
                <button onclick="flushCache()">Clear Cache</button>
              </div>
            </div>    
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="tab-3" name="tab-group-1">
          <label for="tab-3">DynamoDB/DAX</label>
          <div class="content">
            <p>Accelerating DynamoDB lookups with AWS DAX</p>
          </div>
        </div>
      </div>
    </section>
    <script src="/static/aws-caching.js" type="text/javascript"></script>
  </body>
</html>