.tabs {
    position: relative;
    min-height: 200px;
    clear: both;
    margin: 25px 0;
  }
  .tab {
    float: left;
  }
  .tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
  }
  .tab [type="radio"] {
    display: none;
  }
  .content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  .content > * {
    opacity: 0;
    transform: translateX(-100%);
  }

  [type="radio"]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
  }
  [type="radio"]:checked ~ label ~ .content {
    z-index: 1;
  }
  [type="radio"]:checked ~ label ~ .content > * {
    opacity: 1;
    transform: translateX(0);
  }
}

.textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}